@mixin desktop-wrapper() {
  padding-left: 173px;
  padding-right: 175px;
}

@mixin general-title() {
  font-family: $main-font-bold;
  font-size: 25px;
  line-height: 30px;
  color: #000;
}

@mixin general-title-tablet() {
  margin: 0;
  font-family: $main-font-bold;
  font-size: 43px;
  line-height: 50px;
  color: #000;
}

@mixin general-title-desktop() {
  font-family: $main-font-bold;
  font-size: 53px;
  line-height: 57px;
  color: #000;
}

@mixin respond-to($media) {
  @if $media==tablet {
    @media screen and (min-width: $tablet-width) {
      @content
    }
  }
  ;
  @if $media==desktop {
    @media screen and (min-width: $desktop-width) {
      @content;
    }
  }
}

@mixin make-box-shadow() {
  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }
  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

@mixin retina() {
  @media (min-resolution: 144dpi) {
    @content
  }
  @media (min-resolution: 1.5dppx) {
    @content
  }
}

@mixin container-wrapper() {
  width: 320px;
  margin: 0 auto;
  position: relative;
  padding: 0 30px;
  @include respond-to(tablet) {
    width: 768px;
    padding: 0 50px;
  }
  @include respond-to(desktop) {
    width: 1150px;
    padding: 0 50px;
  }
}