$main-color: #444;

$style-color: #62d1ba;
$second-style-color: #ececec;
$icon-color: #d3d2d2;
$main-font-regular: 'Open Sans Regular';
$main-font-bold: 'Open Sans bold';
$footer-bg: #f1f1f1;
$toys-icon-color: #35a999;
$home-icon-color: #3bb09d;
$tablet-width: 768px;
$desktop-width: 1150px;
$color-aqua: #63d1bb;
$color-turquoise: #56c3b2;
$black: #000;
$link-color: #000;
$link-color-hover: #8c8c8c;
$link-color-active: #c7c7c7;
$bg-color: #f9f9f9;
