    .about {
      font-family: $main-font-bold, Arial, sans-serif;
      font-weight: bold;
      background-repeat: no-repeat;
      background-position: top center;
      background-color: $bg-color;
      font-size: 0;
      margin-bottom: 5px;
      position: relative;
      border-top: 1px solid #ececec;
      @include respond-to(tablet) {
        margin-top: -90px;
        margin-bottom: 0px;
      }
      @include respond-to(desktop) {
        padding-top: 75px;
      }
      &:after {
        @include respond-to(tablet) {
          z-index: 2;
          content: '';
          position: absolute;
          background-image: url(../img/bg-zigzag-fill.svg);
          background-position: -5px top;
          background-size: auto 23px;
          width: 100%;
          height: 15px;
          background-repeat: repeat-x;
          color: red;
          bottom: -5px;
        }
        @include respond-to(desktop) {
          bottom: 0;
          background-size: auto;
          background-position: 0 top;
          bottom: 0px;
        }
      }
      &__wrapper {
        @include container-wrapper;
        &--for-items {
          @include container-wrapper;
          padding: 0;
          @include respond-to(tablet) {
            padding: 0 50px;
          }
          @include respond-to(desktop) {
            padding: 0 50px;
          }
        }
      }
      &--background {
        background-image: url('../img/hero-mobile@1x.jpg');
        @include retina() {
          background-image: url('../img/hero-mobile@2x.jpg');
        }
        @include respond-to(tablet) {
          background-image: url('../img/hero-desktop@1x.jpg');
          @include retina() {
            background-image: url('../img/hero-desktop@2x.jpg');
          }
        }
      }
      &__header {
        font-size: 27px;
        line-height: 30px;
        color: #000;
        margin: 0;
        text-align: center;
        padding-top: 68px;
        padding-bottom: 76px;
        @include respond-to(tablet) {
          @include general-title-tablet;
          padding-top: 95px;
          padding-bottom: 80px;
        }
        @include respond-to(desktop) {
          @include general-title-desktop;
          padding-top: 20px;
          padding-bottom: 100px;
        }
        &--for-index {
          padding-top: 69px;
          padding-bottom: 122px;
          @include respond-to(tablet) {
            padding-top: 154px;
            padding-bottom: 372px;
          }
          @include respond-to(desktop) {
            margin: 0 200px;
            padding-bottom: 359px;
            padding-top: 79px;
          }
        }
      }
      &__link {
        display: block;
        line-height: 24px;
        font-size: 19px;
        color: #fff;
        height: 100%;
        position: relative;
        padding: 25px 29px 31px 29px;
        @include respond-to(tablet) {
          font-size: 20px;
          line-height: 30px;
          padding-left: 35px;
          padding-top: 28px;
          padding-bottom: 29px;
        }
        @include respond-to(desktop) {
          padding-left: 39px;
        }
        span {
          display: inline-block;
          width: 50px;
        }
        svg {
          position: absolute;
          right: 35px;
        }
        &:hover {
          margin-top: -5px;
          padding-bottom: 34px;
           @include respond-to(desktop) {
        }
        }
        &:active {
          color: rgba(255, 255, 255, .3);
        }
      }
      &__items {
        display: flex;
        flex-direction: column;
        @include respond-to(tablet) {
          flex-direction: row;
        }
      }
      &__item {
        @include respond-to(tablet) {
          width: 50%;
        }
      }
      &__item--home {
        a {
          background-color: $color-aqua;
        }
      }
      &__icon--home {
        fill: $home-icon-color;
      }
      &__item--toys {
        a {
          background-color: $color-turquoise;
        }
      }
      &__icon--toys {
        fill: $toys-icon-color;
      }

    }
