.about {
  font-family: $main-font-bold;
  background-image: url('../img/hero-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #f9f9f9;
  font-size: 0;
  margin-bottom: 6px;
  @include respond-to(tablet) {
    margin-top: -90px;
  }
  &__header {
    font-size: 27px;
    line-height: 30px;
    color: #000;
    padding-top: 92px;
    padding-bottom: 75px;
    margin: 0;
    text-align: center;
    @include respond-to(tablet) {
      @include general-title-tablet;
      padding-bottom: 75px;
    }
    @include respond-to(desktop) {
      @include general-title-desktop;
    }
  }
  &__link {
    line-height: 24px;
    font-size: 19px;
    color: #fff;
    width: 110px;
    display: inline-block;
    @include respond-to(tablet) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    @include respond-to(tablet) {
      flex-direction: row;
    }
  }
  &__item {
    padding: 25px 29px 23px 29px;
    ;
    @include respond-to(tablet) {
      width: 50%;
      padding: 28px 26px 20px 34px;
    }
  }
  &__item--home {
    background-color: $color-aqua;
  }
  &__item--toys {
    background-color: $color-turquoise;
  }
  @include respond-to(tablet) {
    &__wrapper {
      padding: 40px;
    }
  }
  &--second {
    .about__header {
      padding-top: 72px;
      padding-bottom: 75px;
    }
  }
}
