.about-us {
  font-family: $main-font-bold;
  font-size: 0;
  &__title {
    @include general-title;
    @include respond-to(tablet) {
      @include general-title-tablet;
    }
    @include respond-to(desktop) {
      @include general-title-desktop;
    }
  }
  &__items {
    padding: 0;
  }
  &__item {
    font-size: 17px;
    line-height: 20px;
    list-style: none;
    padding-top: 67px;
    padding-bottom: 16px;
    @include respond-to(tablet) {
      width: 46%;
      font-size: 20px;
    }
    @include respond-to(desktop) {
      width: 46%;
      font-size: 20px;
      padding: 60px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    @include respond-to(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 20px;
      line-height: 24px;
    }
  }
}
