.about-us {
  font-family: $main-font-bold;
  font-size: 0;
  padding-top: 8px;
  @include respond-to(tablet) {
    margin-bottom: 63px;
    padding-top: 19px;
  }
  @include respond-to(desktop) {
    padding-top: 27px;
  }

  &__wrapper {
    @include respond-to(desktop) {
      padding-left: 225px;
    }
  }
  &__title {
    @include general-title;
    @include respond-to(tablet) {
      @include general-title-tablet;
    }
    @include respond-to(desktop) {
      @include general-title-desktop;
    }
  }
  &__items {
    padding: 0;
    display: flex;
    flex-direction: column;
    @include respond-to(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 20px;
      line-height: 24px;
    }
    @include respond-to(desktop) {
      justify-content: flex-start;
    }
  }
  &__item {
    font-size: 17px;
    line-height: 20px;
    list-style: none;
    padding-top: 67px;
    padding-bottom: 16px;
    @include respond-to(tablet) {
      width: 49%;
      font-size: 20px;
      line-height: 24px;
      padding-top: 67px;
      padding-bottom: 40px;
    }
    @include respond-to(desktop) {
      width: 50%;
      font-size: 20px;
      padding: 59px 90px 47px 0;
    }
    &:nth-of-type(2n+1) {
      @include respond-to(desktop) {
        width: 40%;
        padding: 59px 50px 47px 0;
      }
    }
  }
}
