.button {
  font-family: $main-font-bold;
  text-transform: uppercase;
  display: inline-block;
  line-height: 17px;
  color: $main-color;
  text-align: center;
  border: 2px solid $main-color;
  padding: 15px;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  @include respond-to(tablet) {
    max-width: 293px;
  }
  &--reviews {
    margin-top: 30px;
    margin-bottom: 12px;
    @include respond-to(tablet) {
      position: absolute;
      top: 2px;
      right: 47px;
      width: 175px
    }
    @include respond-to(desktop) {
      position: absolute;
      top: -20px;
    }
  }
  &--write-us {
    margin: 40px 0;
    display: block;
    @include respond-to(tablet) {
      margin: 0 auto 57px auto;
      display: block;
      width: 230px
    }
    @include respond-to(desktop) {
      margin-left: 0;
      width: 230px
    }
  }
  &--production {
    font-size: 17px;
    line-height: 16px;
    @include respond-to(tablet) {
      max-width: 100%;
    }
  }
}
