.button {
  font-family: $main-font-bold;
  text-transform: uppercase;
  display: inline-block;
  line-height: 17px;
  color: $main-color;
  text-align: center;
  border: 2px solid $main-color;
  padding: 15px;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  @include respond-to(tablet) {
    max-width: 293px;
  }
  &--reviews {
    @include respond-to(tablet) {
      position: absolute;
      top: 0;
      right: 50px;
    }
  }
  &--write-us {
    @include respond-to(tablet) {}
    @include respond-to(desktop) {
      margin-left: 130px;
    }
  }

  &--production {
    @include respond-to(tablet) {
      max-width: 100%;
    }
  }
}
