.button {
  display: inline-block;
  font-family: $main-font-bold, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 17px;
  text-align: center;
  color: $main-color;
  border: 2px solid $main-color;
  padding: 15px;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  &:hover {
    background: #444444;
    color: #fff;
  }
  &:active {
    color: #8f8f8f;
  }
  @include respond-to(tablet) {
    max-width: 293px;
  }
  &--reviews {
    margin-top: 30px;
    margin-bottom: 12px;
    @include respond-to(tablet) {
      position: absolute;
      top: 50px;
      right: 47px;
      width: 175px
    }
    @include respond-to(desktop) {
      position: absolute;
      top: 45px;
    }
  }
  &--write-us {
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
    @include respond-to(tablet) {
      margin: 0 auto 57px auto;
      width: 230px
    }
    @include respond-to(desktop) {
      margin-left: 0;
      width: 230px
    }
  }
  &--production {
    font-size: 17px;
    line-height: 16px;
    @include respond-to(tablet) {
      max-width: 100%;
    }
  }
  &--submit {
    &:active {
      outline: none;
    }
    @include respond-to(tablet) {
      width: 230px;
    }
    @include respond-to(desktop) {
      margin-left: 174px;
    }
  }
  &--modal {
    max-width: 100%;
    border-color: $color-aqua;
    background: $color-aqua;
    color: #fff;
    &:hover {
      border-color: $color-aqua;
      background: $color-aqua;
      color: #fff;
    }
    &:active {
      border-color: $color-aqua;
      background: $color-aqua;
      color: #fff;
    }
  }
}
