.catalog {
  background-color: #f9f9f9;
  padding-top: 55px;
  padding-bottom: 57px;
  &__header {
    font-size: 27px;
    line-height: 30px;
    color: #000;
    text-align: center;
    letter-spacing: 1px;
    @include respond-to(tablet) {
      @include general-title-tablet;
      padding-top: 5px;
    }
    @include respond-to(desktop) {
      @include general-title-desktop;
    }
  }
}
