.contacts {
  color: $main-color;
  line-height: 30px;
  padding-top: 20px;
  @include respond-to(tablet) {
    padding-top: 61px;
  }
  @include respond-to(desktop) {
    padding-top: 142px;
    padding-bottom: 50px
  }
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    @include respond-to(desktop) {
      padding-left: 222px;
    }
  }
  &__title {
    position: relative;
    font-family: $main-font-bold, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: $black;
    margin-bottom: 25px;
    @include respond-to(tablet) {
      @include general-title-tablet;
      margin-bottom: 50px;
    }
    @include respond-to(desktop) {
      @include general-title-desktop;
       margin-bottom: 48px;
    }
    &:before {
      @include respond-to(tablet) {
        content: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="46.68px" height="81.691px" viewBox="-11.34 -28.346 46.68 81.691" enable-background="new -11.34 -28.346 46.68 81.691" xml:space="preserve"><g id="miu"><g id="Artboard-1" transform="translate(-755.000000, -443.000000)"><g id="slice" transform="translate(215.000000, 119.000000)"></g><g id="editor-flag-triangle-notification-glyph"><path fill="#63D1BB" d="M751.439,418.545v38.9l38.9-19.451L751.439,418.545z M743.66,496.346v-81.691h3.805v81.691H743.66z"/></g></g></g><g><rect x="-11.34" y="-28.346" fill="#231F20" width="3.805" height="81.691"/></g></svg>');
        position: absolute;
        right: 0;
        top: -15px;
      }
      @include respond-to(desktop) {
        left: -109px;
        top: -9px;
      }
    }
  }
  &__item {
    a {
      color: $main-color;
      padding-bottom: 4px;
      border-bottom: 1px solid $style-color;
      &:hover {
        color: $style-color;
      }
      &:active {
        opacity: .4;
      }
    }
  }
  &__information {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include respond-to(tablet) {
      font-size: 17px;
      max-width: 95%;
      margin-bottom: 25px;
    }
    @include respond-to(desktop) {
      width: 40%;
      margin-bottom: 51px;
      padding-left: 4px;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    padding-bottom: 29px;
    @include respond-to(tablet) {
      max-width: 300px;
    }
  }
  &__value {
    padding-left: 30px;
    @include respond-to(tablet) {
      padding-left: 40px;
      padding-left: 25px;
    }
  }
  &__map {
    margin-bottom: 0px;
    @include respond-to(tablet) {
      margin-bottom: 47px;
    }
    @include respond-to(desktop) {
      position: absolute;
      right: 50px;
      bottom: -107px;
    }
  }
  &__frame {
    width: 320px;
    height: 457px;
    @include respond-to(tablet) {
      width: 768px;
      height: 457px;
    }
    @include respond-to(desktop) {
      width: 525px;
      height: 457px;
    }
    &--hidden {
      display: none;
    }
  }
  &__img {
    width: 320px;
    height: 457px;
    @include respond-to(tablet) {
      width: 768px;
      height: 457px;
    }
    @include respond-to(desktop) {
      width: 525px;
      height: 457px;
    }
    &--hidden {
      display: none;
    }
  }
}
