.container-wrapper {
  width: 262px;
  margin: 0 auto;
  position: relative;
  @include respond-to(tablet) {
    width: 668px;
  }
  @include respond-to(desktop) {
    width: 1050px;
  }
  &--map {
    width: 320px;
    @include respond-to(tablet) {
      width: 768px;
    }
  }
}
