.footer {
  font-family: $main-font-bold, Arial, sans-serif;
  font-weight: bold;
  background-color: $footer-bg;
  @include respond-to(tablet) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include respond-to(tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__logo {
    display: none;
    @include respond-to(tablet) {
      display: block;
      padding-top: 20px;
      padding-right: 95px;
    }
  }
  &__logo-link {
    svg {
      width: 102px;
      height: 34px;
    }
    &:hover {
      svg {
        fill: $style-color;
      }
    }
    &:active {
      svg {
        opacity: .5;
      }
    }
  }
  &__social-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 22px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid $main-color;
    @include respond-to(tablet) {
      width: 250px;
      border-bottom: none;
      margin-top: 4px;
    }
    @include respond-to(desktop) {
      margin-right: 10px;
    }
  }
  &__social-btn {
    svg {
      &:hover {
        fill: $style-color;
      }
      &:active {
        opacity: .5;
      }
    }
  }
  &__social-btn--insta {
    svg {
      width: 21px;
      height: 21px;
    }
  }
  &__social-btn--fb {
    svg {
      width: 15px;
      height: 28px;
    }
  }
  &__social-btn--tw {
    svg {
      width: 23px;
      height: 20px;
    }
  }
  &__creators {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $link-color;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    &:hover {
      svg {
        fill: $color-turquoise;
      }
    }
    &:active {
      color: $link-color-active;
      svg {
        opacity: .5;
      }
    }
    @include respond-to(tablet) {
      justify-content: space-around
    }
  }
  &__title {
    display: inline-block;
    font-size: 19px;
    line-height: 18px;
    margin: 0;
    padding-right: 15px;
    @include respond-to(tablet) {
      padding-right: 32px;
    }
  }
  &__logo-htmlacademy {
    width: 26px;
    height: 34px;
    fill: $style-color;
  }
}
