.header {
  &__wrapper {
    margin: 0 auto;
    min-width: 320px;
    padding-top: 80px;
    @include respond-to(tablet) {
      width: 768px;
      padding: 0 50px;
    }
    @include respond-to(desktop) {
      width: 1150px;
    }
  }
}
