.order-form {
  padding-top: 16px;
  padding-bottom: 58px;
  @include respond-to(tablet) {
    padding-bottom: 80px;
    font-size: 17px;
    padding-top: 74px;
  }
  &__description {
    font-size: 13px;
    margin-bottom: 20px;
    @include respond-to(tablet) {
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }
  &__item {
    @include respond-to(tablet) {
      padding-left: 186px;
      position: relative;
    }
    &--type {}
    &--colors {}
    &--name {}
    &--phone {}
    &--email {}
    &--more-info {}
  }
  &__title {
    text-transform: uppercase;
    font-family: $main-font-bold;
    margin-bottom: 10px;
    @include respond-to(tablet) {
      position: absolute;
      line-height: 18px;
      left: 0px;
      top: 62px;
    }
  }
  &__values {
    font-family: $main-font-bold;
    display: flex;
    flex-direction: column;
    input[type="radio"],
    input[type="checkbox"] {
      display: none;
    }
    &--type {}
    &--colors {}
    &--name {}
    &--phone {}
    &--email {}
    &--more-info {
      textarea {
        padding: 15px;
        margin-top: 10px;
      }
    }
  }
}

&__section:nth-child(odd) {
  background-color: gray;
}
