.product {
  display: flex;
  flex-direction: column;
  border: 1px solid #ededed;
  border-radius: 4px;
  line-height: 24px;
  padding-bottom: 5px;
  margin-bottom: 31px;
  @include respond-to(tablet) {
    flex-direction: row;
    padding-bottom: 0;
    margin-bottom: 55px;
    height: 334px;
  }
  @include respond-to(desktop) {
    flex-direction: column;
    width: 320px;
    height: auto;
  }
  &__product-wrapper {
    padding: 21px 28px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    @include respond-to(desktop) {
      height: 100%;
      justify-content: space-between;
    }
  }
  &__title {
    font-family: $main-font-bold;
    font-size: 17px;
    padding-bottom: 5px;
    margin: 0;
    a {
      color: #000;
    }
    @include respond-to(tablet) {
      font-size: 20px;
      margin-top: 5px;
      align-self: stretch;
    }
    @include respond-to(desktop) {
      margin-top: 0;
    }
  }
  &__description {
   margin-bottom: 20px;

    @include respond-to(tablet) {
      align-self: stretch;
    }
    @include respond-to(desktop) {
      padding-bottom: 13px;
      margin-bottom: 0;
    }
  }
  &__image {
    img {
      width: 100%;
      @include respond-to(tablet) {
        width: 333px;
        height: 333px;
      }
      @include respond-to(desktop) {
        width: 317px;
        height: 460px;
      }
    }
  }
  &__value {
    color: $main-color;
    font-size: 13px;
    line-height: 30px;
    margin-top: 4px;
    margin-bottom: 0;
    @include respond-to(tablet) {
      font-size: 15px;
    }
  }
  &__price {
    font-family: $main-font-bold;
    font-size: 15px;
    @include respond-to(tablet) {
      font-size: 17px;
    }
  }
  &__add-btn {
    display: none;
  }
  &__sale {
    border-top: 1px solid #cecece;
    padding-top: 20px;

    @include respond-to(tablet) {
      padding-top: 25px;
    }
    @include respond-to(desktop) {
      padding-top: 20px;
      padding-bottom: 6px;
    }
  }
}
