.production {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #ededed;
  border-radius: 4px;
  @include respond-to(tablet) {
    margin-bottom: 63px;
  }
  @include respond-to(desktop) {
    flex-direction: row;
    margin-bottom: 97px;
  }
  &__title {
    font-family: $main-font-bold;
    font-size: 17px;
    width: 65%;
    margin-left: 35%;
    padding-top: 12px;
    padding-bottom: 12px;
    @include respond-to(tablet) {
      margin-left: 105px;
      font-size: 20px;
      line-height: 24px;
      padding-bottom: 2px;
    }
    @include respond-to(desktop) {
      font-size: 20px;
      position: absolute;
      top: 71px;
      right: 85px;
      width: 200px;
    }
  }
  &__video {
    margin-bottom: 8px;
    img {
      width: 100%;
      @include respond-to(tablet) {
        min-height: 455px;
      }
      @include respond-to(desktop) {
        min-width: 680px;
        margin-bottom: 0;
        height: 100%;
      }
    }
    @include respond-to(tablet) {
      order: -1;
    }
    @include respond-to(desktop) {
      margin-bottom: 0;
    }
  }
  &__production-wrapper {
    padding-right: 34px;
    padding-left: 34px;
    @include respond-to(tablet) {
      padding-left: 41px;
      padding-right: 41px;
      padding-bottom: 10px;
    }
    @include respond-to(desktop) {
      padding-bottom: 0;
    }
  }
  &__description {
    color: $main-color;
    font-size: 13px;
    padding-bottom: 35px;
    @include respond-to(tablet) {
      font-size: 15px;
      line-height: 30px;
    }
    @include respond-to(desktop) {
      padding-top: 160px;
      padding-left: 40px;
      padding-right: 15px;
    }
    p {
      margin-bottom: 27px;
      @include respond-to(tablet) {
        margin-bottom: 36px;
      }
      @include respond-to(desktop) {
        margin-bottom: 47px;
      }
    }
  }
}
