.product {
  margin-top: 30px;
  border: 1px solid #ededed;
  border-radius: 4px;
  &__product-wrapper {
    padding: 28px;
  }
  &__title {
    font-family: $main-font-bold;
    font-size: 17px;
    a {
      color: #000;
    }
  }
  &__image {
    img {
      width: 100%;
    }
    
  }
  &__value {
    color: $main-color;
    font-size: 13px;
    line-height: 30px;
  }
  &__price {
    font-family: $main-font-bold;
    font-size: 15px;
  }
}