.product {
  display: flex;
  flex-direction: column;
  border: 1px solid #ededed;
  border-radius: 2px;
  line-height: 24px;
  margin-bottom: 29px;
  @include make-box-shadow;
  @include respond-to(tablet) {
    flex-direction: row;
    padding-bottom: 0;
    margin-bottom: 54px;
    height: 334px;
  }
  @include respond-to(desktop) {
    flex-direction: column;
    width: 316px;
    height: 660px;
  }
  &__wrapper {
    padding: 21px 28px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    @include respond-to(tablet) {
      padding-bottom: 17px;
    }
    @include respond-to(desktop) {
      height: 100%;
      justify-content: space-between;
      padding-top: 19px;
      padding-bottom: 20px;
    }
  }
  &__title {
    font-family: $main-font-bold, Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 5px;
    margin: 0;
    a {
      color: #000;
      &:hover {
        color: $link-color-hover;
      }
      &:active {
        color: $link-color-active;
      }
    }
    @include respond-to(tablet) {
      font-size: 20px;
      margin-top: 5px;
      align-self: stretch;
    }
    @include respond-to(desktop) {
      margin-top: 0;
    }
  }
  &__description {
    margin-bottom: 19px;
    @include respond-to(tablet) {
      align-self: stretch;
    }
    @include respond-to(desktop) {
      padding-bottom: 13px;
      margin-bottom: 0;
    }
  }
  &__image {
    img {
      width: 100%;
      @include respond-to(tablet) {
        width: 334px;
        height: 332px;
      }
      @include respond-to(desktop) {
        width: 100%;
        height: 462px;
      }
    }
  }
  &__value {
    color: $main-color;
    font-size: 13px;
    line-height: 30px;
    margin-top: 4px;
    margin-bottom: 0;
    @include respond-to(tablet) {
      font-size: 15px;
    }
  }
  &__price {
    font-family: $main-font-bold, Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    @include respond-to(tablet) {
      font-size: 17px;
    }
  }
  &__add-btn {
    font-size: 0;
    svg {
      fill: $second-style-color;;
      width: 20px;
      height: 19px;
    }
    &:hover {
      svg {
        fill: $style-color;
      }
    }
    &:active {
      svg {
        opacity: .5;
      }
    }
  }
  &__sale {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #cecece;
    padding-top: 20px;
    @include respond-to(tablet) {
      padding-top: 23px;
      padding-left: 5px
    }
    @include respond-to(desktop) {
      padding-top: 22px;
      padding-left: 0px
    }
  }
}
