.product-of-week {
  font-family: $main-font-bold;
  font-size: 15px;
  margin-bottom: 40px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    @include respond-to(desktop) {
      padding-left: 170px;
      padding-bottom: 100px;
    }
  }
  &__title {
    margin-bottom: 4px;
    a {
      @include general-title;
      @include respond-to(tablet) {
        @include general-title-tablet;
      }
      @include respond-to(desktop) {
        @include general-title-desktop;
      }
    }
  }
  &__week {
    color: #63d1bb;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 16px;
    @include respond-to(tablet) {
      width: 100px;
      display: inline-block;
      text-align: center;
      position: absolute;
      top: 35px;
      right: 30px;
    }
    @include respond-to(desktop) {
      left: 25px;
    }
  }
  &__description {
    font-family: $main-font-regular;
    color: $main-color;
    line-height: 24px;
    padding-top: 5px;

    @include respond-to(tablet) {
      width: 45%;
      font-size: 17px;
    }
  }
  &__exposition-items {
    line-height: 20px;
    font-family: $main-font-regular;
  }
  &__price {
    color: $main-color;
    font-size: 17px;
    display: inline-block;
    text-align: center;
    margin-bottom: 25px;
  }
  &__image {
    margin-bottom: 19px;
    @include respond-to(tablet) {
      position: absolute;
      right: 30px;
      top: 90px;
    }
  }

  &__exposition-items {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 27px;
  }
  &__parameter, &__value {
    padding: 10px;
    border-bottom: 1px solid #ececec;
  }
  &__parameter {
    padding-left: 0;
    padding-right: 4%
  }
}
