.product-of-week {

  font-family: $main-font-bold;
  font-size: 15px;
  padding-bottom: 40px;
  @include respond-to(tablet) {
   padding-top: 28px;
   padding-bottom: 62px;
  }
  @include respond-to(desktop) {
    padding-top: 105px;
    padding-bottom: 85px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    @include respond-to(desktop) {
      padding-left: 225px;
    }
  }
  &__title {
    margin-bottom: 4px;
    @include respond-to(tablet) {
      margin-bottom: 43px;
    }
    @include respond-to(desktop) {}
    a {
      @include general-title;
      @include respond-to(tablet) {
        @include general-title-tablet;
      }
      @include respond-to(desktop) {
        @include general-title-desktop;
      }
    }
  }
  &__week {
    color: #63d1bb;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 16px;
    @include respond-to(tablet) {
      width: 100px;
      display: inline-block;
      text-align: center;
      position: absolute;
      top: 33px;
      right: 61px;
    }
    @include respond-to(desktop) {
      top: 37px;
      left: 81px;
    }
  }
  &__description {
    font-family: $main-font-regular;
    color: $main-color;
    line-height: 24px;
    margin-top: 5px;
    margin-bottom: 2px;
    @include respond-to(tablet) {
      font-size: 17px;
      line-height: 30px;
      width: 45%;
      margin-bottom: 34px;
    }
    @include respond-to(desktop) {
      margin-bottom: 48px;
    }
    p {
      @include respond-to(tablet) {
        margin: 0;
      }
    }
  }
  &__price {
    color: $main-color;
    font-size: 17px;
    display: inline-block;
    text-align: center;
    margin-bottom: 26px;
    @include respond-to(tablet) {
      width: 45%;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 35px;
    }
    @include respond-to(desktop) {
      width: 35%;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 35px;
    }
  }
  &__image {
    margin-bottom: 18px;
    @include respond-to(tablet) {
      position: absolute;
      right: 30px;
      top: 90px;
    }
  }
  &__exposition-items {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 28px;
    font-family: $main-font-regular;
    @include respond-to(tablet) {
      font-size: 15px;
      width: 40%;
      margin-bottom: 55px;
    }
    @include respond-to(desktop) {
      font-size: 15px;
      width: 30%;
      margin-bottom: 108px;
    }
  }
  &__parameter,
  &__value {
    padding: 8px;
    border-bottom: 1px solid #ececec;
    @include respond-to(desktop) {
    }
  }
  &__parameter {
    padding-left: 0;
    padding-right: 4%
  }
}
