.reviews {
  padding-bottom: 37px;
  padding-top: 17px;

  &__wrapper {
    @include respond-to(tablet) {
      background: url(../../img/review@1x.jpg) no-repeat;
      padding-bottom: 127px;
      padding-top: 77px;
    }
    @include respond-to(desktop) {
      padding-top: 65px;
      padding-bottom: 175px;
      padding-left: 225px;
      background-position: 7% 0;
    }
  }
  &__title {
    margin-bottom: 23px;
    @include general-title;
    @include respond-to(tablet) {
      @include general-title-tablet;
      margin-bottom: 49px;
    }
    @include respond-to(desktop) {
      @include general-title-desktop;
    }
  }
  &__description {
    color: $main-color;
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 22px;
    @include respond-to(tablet) {
      font-size: 17px;
      margin-bottom: 53px;
    }
    @include respond-to(desktop) {
      font-size: 17px;
      margin-bottom: 36px;
    }
  }
  &__name {
    //margin-bottom: 27px;
    font-family: $main-font-bold;
    font-size: 17px;
    line-height: 33px;
    font-style: normal;
  }
  &__address {
    color: $main-color;
    font-size: 17px;
    @include respond-to(tablet) {
      display: block;
    }
  }
  &__buttons {
    @include respond-to(tablet) {
      position: absolute;
      right: 50px;
      bottom: 10px;
      display: inline-block;
    }
  }
}
