.reviews {
  padding-bottom: 37px;
  padding-top: 17px;
  &__wrapper {
    @include respond-to(tablet) {
      background: url(../../img/review@1x.jpg) no-repeat;
      padding-bottom: 127px;
      padding-top: 77px;
    }
    @include respond-to(desktop) {
      padding-top: 65px;
      padding-bottom: 175px;
      padding-left: 225px;
      background-position: 7% 0;
    }
  }
  &__title {
    margin-bottom: 23px;
    @include general-title;
    @include respond-to(tablet) {
      @include general-title-tablet;
      margin-bottom: 49px;
    }
    @include respond-to(desktop) {
      @include general-title-desktop;
    }
  }
  &__description {
    color: $main-color;
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 22px;
    @include respond-to(tablet) {
      font-size: 17px;
      margin-bottom: 53px;
    }
    @include respond-to(desktop) {
      font-size: 17px;
      margin-bottom: 36px;
    }
  }
  &__name {
    font-family: $main-font-bold;
    font-size: 17px;
    line-height: 33px;
    font-style: normal;
  }
  &__address {
    color: $main-color;
    font-size: 17px;
    @include respond-to(tablet) {
      display: block;
    }
  }
  &__buttons {
    display: inline-block;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 7px;
    @include respond-to(tablet) {
      position: absolute;
      right: 49px;
      bottom: 119px;
    }
        @include respond-to(desktop) {
      bottom: 170px;
    }
  }
  &__btn {
    padding: 12px 41px 12px 37px;
    font-size: 0;
    line-height: 0;
    border: 1px solid #ececec;
    @include respond-to(tablet) {
      border: none;
      padding: 12px 19px 12px 19px;
    }

    svg {
      height: 26px;
      width: 50px;
    }
  }
}
