.top-menu {
  position: relative;
  top: -80px;
  text-align: center;
  font-size: 17px;
  font-family: $main-font-bold, Arial, sans-serif;
  font-weight: bold;
  z-index: 2;
  @include respond-to(tablet) {
    top: 0px;
  }
  &__link-logo {
    &:hover {
      opacity: .7;
    }
    &:active {
      opacity: .4;
    }
  }
  &__toggle {
    position: absolute;
    top: 15px;
    right: 26px;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 0;
    line-height: 0;
    background: 0 0;
    border: none;
    outline: none;
    @include respond-to(tablet) {
      display: none
    }
    &:before {
      position: absolute;
      content: "";
      z-index: 13;
      width: 20px;
      height: 14px;
      background: url(../img/icon-menu-close.svg) no-repeat 50% 50%;
      background-size: 20px 14px;
      cursor: pointer;
    }
  }
  &--closed &__toggle:before {
    background: url(../img/icon-menu-open.svg) no-repeat 50% 50%;
  }
  &--closed &__item--toggle {
    display: none;
  }
  &__items {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    @include respond-to(tablet) {
      position: relative;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $link-color;
    width: 100%;
    &:hover {
      color: $link-color-hover;
      .top-menu__icon {
        fill: $style-color;
      }
    }
    &:active {
      color: $link-color-active;
      .top-menu__icon {
        opacity: .5;
      }
    }
  }
  &__image-logo {
    width: 86px;
    height: 35px;
    @include respond-to(tablet) {
      width: 112px;
      height: 46px;
    }
    @include respond-to(desktop) {
      width: 148px;
      height: 43px;
    }
  }
  &__icon {
    position: absolute;
    fill: $main-color;
    left: 12%;
    top: 50%;
    @include respond-to(tablet) {
      transform: translate(-50%, -50%);
      top: 50%;
    }
  }
  &__icon--search {
    transform: translateY(-50%);
    @include respond-to(tablet) {
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }
  &__icon--cart {
    transform: translateY(-50%);
  }
  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #ececec;
    @include respond-to(tablet) {
      justify-content: center;
      min-height: 90px;
      border-bottom: none;
    }
    &:first-child {
      border-top: 1px solid #ececec;
    }
    &--logo {
      justify-content: center;
      align-items: center;
      @include respond-to(tablet) {
        width: 48%;
        justify-content: flex-start;
      }
      @include respond-to(desktop) {
        width: 23.8%;
      }
      a {
        @include respond-to(tablet) {
          justify-content: flex-start;
        }
      }
      img {
        @include respond-to(tablet) {
          width: 112px;
          height: 46px;
        }
        @include respond-to(desktop) {
          width: 148px;
          height: 73px;
        }
      }
    }
    /*--------*/
    &--toggle {
      a {
        justify-content: flex-start;
        padding-left: 25%;
        @include respond-to(tablet) {
          padding-left: 0;
        }
      }
    }
    &--closed {
      display: none;
    }
    &--catalog {
      @include respond-to(tablet) {
        font-size: 15px;
        order: 1;
        background-color: transparent;
      }
      @include respond-to(desktop) {
        order: -2;
        font-size: 17px;
        border-right: 1px solid #ececec;
      }
      a {
        @include respond-to(tablet) {
          margin-right: 37px;
        }
      }
    }
    &--knitting {
      @include respond-to(tablet) {
        background-color: transparent;
        font-size: 15px;
        order: 1;
      }
      @include respond-to(desktop) {
        order: -2;
        font-size: 17px;
      }
      a {
        @include respond-to(desktop) {
          margin-left: 35px;
          margin-right: 75px;
        }
      }
    }
    &--search {
      @include respond-to(tablet) {
        justify-content: center;
        font-size: 0;
        width: 13%;
        border-left: 1px solid #ececec;
        border-right: 1px solid #ececec;
      }
      @include respond-to(desktop) {
        width: 8%;
      }
    }
    &--card {
      @include respond-to(tablet) {
        width: 37%;
      }
      @include respond-to(desktop) {
        width: 25%;
      }
      a {
        @include respond-to(tablet) {
          justify-content: flex-end;
        }
      }
    }
    &--new,
    &--sale {
      display: none;
      background-color: transparent;
      font-size: 15px;
      @include respond-to(desktop) {
        display: flex;
      }
      a {
        display: flex;
        align-items: top;
      }
    }
    &--sale {
      margin-left: 61px;
    }
    &--delivery {
      display: none;
      background-color: transparent;
      @include respond-to(tablet) {
        display: flex;
        justify-content: flex-end;
        font-size: 15px;
        order: 3;
        flex-basis: 53%;
      }
      @include respond-to(desktop) {
        flex-basis: 70%;
      }
      span {
        display: flex;
        align-items: center;
        font-family: $main-font-regular, Arial, sans-serif;
        font-weight: normal;
      }
    }
  }
}
