.top-menu {
  text-align: center;
  font-size: 17px;
  font-family: $main-font-bold;
  z-index: 2;
  position: relative;
  &__items {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
    @include respond-to(tablet) {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
  &__item {
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: center;
    min-height: 80px;
    @include respond-to(tablet) {
      justify-content: center;
      min-height: 90px;
    }
    &:first-child {
      border-top: 1px solid #ececec;
    }
    a {
      display: flex;
      align-items: center;
      color: #000;
      width: 100%;
      justify-content: center;
    }
    &--logo {
      @include respond-to(tablet) {
        width: 48%;
      }
      a {
        @include respond-to(tablet) {
          justify-content: flex-start;
        }
      }
    }
    /*--------*/
    &--toggle {
      a {
        justify-content: flex-start;
        padding-left: 25%;
        @include respond-to(tablet) {
          padding-left: 0;
        }
      }
    }
    &--catalog {
      @include respond-to(tablet) {
        font-size: 15px;
        order: 1;
        border-bottom: none;
      }
      a {
        @include respond-to(tablet) {
          margin-right: 35px;
        }
      }
    }
    &--knitting {
      @include respond-to(tablet) {
        font-size: 15px;
        order: 1;
        border-bottom: none;
      }
      a {
        @include respond-to(tablet) {

        }
      }
    }
    &--search {
      @include respond-to(tablet) {
        width: 11%;
        border-left: 1px solid #ececec;
        border-right: 1px solid #ececec;
        justify-content: center;
      }
    }
    &--card {
      @include respond-to(tablet) {
        width: 41%;
      }
      a {
        @include respond-to(tablet) {
          justify-content: flex-end;
        }
      }
    }
  }
}
