.top-menu {
  text-align: center;
  font-size: 17px;
  font-family: $main-font-bold;
  z-index: 2;
  position: relative;
  &__items {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    @include respond-to(tablet) {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
  a {
    display: flex;
    align-items: center;
    color: $link-color;
    width: 100%;
    justify-content: center;
    &:hover {
      color: $link-color-hover;
      .top-menu__icon {
        fill: $style-color;
      }
    }
    &:active {
      color: $link-color-active;
      .top-menu__icon {
        opacity: .5;
      }
    }
  }
  &__link-logo {
    &:hover {
      opacity: .7;
    }
    &:active {
      opacity: .4;
    }
  }
  &__image-logo {
    width: 86px;
    height: 35px;
    @include respond-to(tablet) {
      width: 112px;
      height: 46px;
    }
    @include respond-to(desktop) {
      width: 148px;
      height: 43px;
    }
  }
  &__icon {
    fill: $main-color;
    position: absolute;
    left: 12%;
    top: 50%;
    @include respond-to(tablet) {
      transform: translate(-50%, -50%);
      top: 50%;
    }
  }
  &__icon--search {
    transform: translateY(-50%);
    @include respond-to(tablet) {
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }
  &__icon--cart {
    transform: translateY(-50%);
  }
  &__item {
    position: relative;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: center;
    min-height: 80px;
    @include respond-to(tablet) {
      justify-content: center;
      min-height: 90px;
    }
    &:first-child {
      border-top: 1px solid #ececec;
    }
    &--logo {
      justify-content: center;
      align-items: center;
      @include respond-to(tablet) {
        width: 48%;
        justify-content: flex-start;
      }
      @include respond-to(desktop) {
        width: 23.8%;
      }
      a {
        @include respond-to(tablet) {
          justify-content: flex-start;
        }
      }
      img {
        @include respond-to(tablet) {
          width: 112px;
          height: 46px;
        }
        @include respond-to(desktop) {
          width: 148px;
          height: 73px;
        }
      }
    }
    /*--------*/
    &--toggle {
      a {
        justify-content: flex-start;
        padding-left: 25%;
        @include respond-to(tablet) {
          padding-left: 0;
        }
      }
    }
    &--catalog {
      @include respond-to(tablet) {
        font-size: 15px;
        order: 1;
        border-bottom: none;
      }
      @include respond-to(desktop) {
        order: -2;
        font-size: 17px;
        border-right: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
      }
      a {
        @include respond-to(tablet) {
          margin-right: 37px;
        }
      }
    }
    &--knitting {
      @include respond-to(tablet) {
        font-size: 15px;
        order: 1;
        border-bottom: none;
      }
      @include respond-to(desktop) {
        order: -2;
        font-size: 17px;
        border-bottom: 1px solid #ececec;
      }
      a {
        @include respond-to(desktop) {
          margin-left: 35px;
          margin-right: 75px;
        }
      }
    }
    &--search {
      @include respond-to(tablet) {
        font-size: 0;
        width: 13%;
        border-left: 1px solid #ececec;
        border-right: 1px solid #ececec;
        justify-content: center;
      }
      @include respond-to(desktop) {
        width: 8%;
      }
    }
    &--card {
      @include respond-to(tablet) {
        width: 37%;
      }
      @include respond-to(desktop) {
        width: 25%;
      }
      a {
        @include respond-to(tablet) {
          justify-content: flex-end;
        }
      }
    }
    &--new,
    &--sale {
      display: none;
      font-size: 15px;
      border-bottom: none;
      @include respond-to(desktop) {
        display: flex;
      }
      a {
        display: flex;
        align-items: top;
      }
    }
    &--sale {
      margin-left: 61px;
    }
    &--delivery {
      display: none;
      @include respond-to(tablet) {
        display: flex;
        justify-content: flex-end;
        border-bottom: none;
        font-size: 15px;
        order: 3;
        flex-basis: 53%;
      }
      @include respond-to(desktop) {
        flex-basis: 70%;
      }
      span {
        font-family: $main-font-regular;
        display: flex;
        align-items: center;
      }
    }
  }
}
